body{
    text-align: center;
}
#heading{
    font-size: 50px;
    margin-top: 20px;
}
#date{
    font-size: 20px;
    margin-bottom: 20px;
}
#task-input{
    width: 300px;
    height: 25px;
    font-size: 26px;
}
#add{
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#task-list{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    font-size: 25px;

}
#remove{
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}